In [1]:
import pandas as pd
import numpy as np
from sklearn import neighbors,metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
import joblib

In [2]:
df=pd.read_csv("car.data")

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
df.columns=['buying','maint','doors','persons','lug_boot','saftey','class']

In [5]:
df.head()

  buying  maint doors persons lug_boot saftey  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [6]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
saftey      0
class       0
dtype: int64

In [7]:
for i in df.columns:
    print(df[i].value_counts())

med      432
high     432
low      432
vhigh    431
Name: buying, dtype: int64
med      432
high     432
low      432
vhigh    431
Name: maint, dtype: int64
5more    432
3        432
4        432
2        431
Name: doors, dtype: int64
more    576
4       576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: saftey, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   saftey    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [10]:
le=LabelEncoder()

In [11]:
for i in df.columns:
    df[i]=le.fit_transform(df[i])

In [12]:
df.head()

   buying  maint  doors  persons  lug_boot  saftey  class
0       3      3      0        0         2       2      2
1       3      3      0        0         2       0      2
2       3      3      0        0         1       1      2
3       3      3      0        0         1       2      2
4       3      3      0        0         1       0      2

In [13]:
X=df.drop(['class'],axis=1)

In [14]:
y=df['class']

In [15]:
X=np.array(X)
y=np.array(y)

In [16]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [17]:
model=neighbors.KNeighborsClassifier()

In [18]:
model.fit(X_train,y_train)

KNeighborsClassifier()

In [19]:
predictions=model.predict(X_test)

In [20]:
accuracy=accuracy_score(y_test,predictions)

In [21]:
accuracy*100

87.86127167630057

In [22]:
joblib.dump(model,'car_model.joblib')

['car_model.joblib']

In [24]:
y=pd.DataFrame(y)

In [25]:
y[0].value_counts()

2    1209
0     384
1      69
3      65
Name: 0, dtype: int64

In [26]:
X=pd.DataFrame(X)

In [27]:
for i in range(6):
    print(X[i].value_counts())

2    432
1    432
0    432
3    431
Name: 0, dtype: int64
2    432
1    432
0    432
3    431
Name: 1, dtype: int64
3    432
2    432
1    432
0    431
Name: 2, dtype: int64
2    576
1    576
0    575
Name: 3, dtype: int64
1    576
0    576
2    575
Name: 4, dtype: int64
2    576
0    576
1    575
Name: 5, dtype: int64